@model Readinglist.Models.Book

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "ReadingList", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row"></div>

        <div class="row">
            <div class="container">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-1 text-center">Title</th>
                            <th class="col-xs-1 text-center">Author</th>
                            <th class="col-xs-1 text-center">ISBN</th>
                            <th class="col-xs-1 text-center">Description</th>
                            <th class="col-xs-1 text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><input type="text" class="form-control" id="title" name="title" value="@Model.Title"/></td>
                            <td class="text-center"><input type="text" class="form-control" id="author" name="author" value="@Model.Author"/></td>
                            <td class="text-center"><input type="text" class="form-control" id="isbn" name="isbn" value="@Model.Isbn"/></td>
                            <td class="text-center"><input type="text" class="form-control" id="description" name="description" value="@Model.Description"/></td>
                            <td class="text-center">
                                <input type="hidden" value="@Model.ID" name="id" />
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-warning" name="action" value="update">
                                        <span class="glyphicon glyphicon-save"></span> Save
                                    </button>
                                    <button type="submit" class="btn btn-success" name="action" value="Cancel">Cancel</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

}
